# Environment variables declared in this file are NOT automatically loaded by Prisma.
# They are loaded via `import "dotenv/config";` in prisma.config.ts.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/booking_management?schema=public"
